* {
  box-sizing: border-box;
}

.menu {
  background-color: rgb(13, 142, 52);
}

.menu>a {
  display: none;
  color: white;
}

.nav-bar {
  padding: 1rem;
}

.hide {
  display: none;
}

.nav-bar>a {
  font-size: 1.2rem;
  color: white;
  margin: 0rem 2rem 0rem;
  text-decoration: none;
}

a.home {
  margin-left: 0rem;
}

/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products>div {
  min-width: 50%;
  padding: 1rem;
  flex-grow: 1;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-image {
  width: 20rem;
  height: 20rem;
}

.product h1 {
  color: rgb(79, 17, 6);
  font-size: 1.5rem;
}

.product-details {
  padding: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.price-tag {
  display: flex;
  align-items: center;
}

.price-tag.column {
  flex-direction: column;
  justify-content: space-between;
}

.price-tag.column>div {
  width: 80%;
}


.price-tag.column>div>.btn-purchase {
  margin-left: 0rem;
}


.price-tag p {
  color: rgb(255 98 4);
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-purchase {
  background-color: rgb(52, 56, 239);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: 8rem;
  height: 2.4rem;
  border-radius: 1rem;
  border: 1px solid rgba(180, 185, 242, 0.468);
  cursor: pointer;
  margin-left: 2rem;
}

.btn-purchased {
  background-color: rgb(26, 118, 43);
}

.btn-delete {
  background-color: red;
}

/*Cart  */

.cart {
  display: flex;
}

.cart-items>div {
  margin: 1rem;
}

.cart-image {
  width: 10rem;
  height: 10rem;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  align-items: center;
  background-color: yellow;
  border-radius: 1rem;
}

.cart-buttons>button {
  background-color: rgb(20, 114, 5);
  width: 3rem;
  height: 2rem;
  border: 0px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.cart-buttons>span {
  margin: 0rem 1.5rem 0rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(2, 11, 67);
}

/* Order */
.orders {
  display: flex;
  flex-direction: column;
}

.order {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.order-details-item {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: space-around;
}

.product-details-image {
  width: 30rem;
  height: 30rem;
}

@media only screen and (max-width: 768px) {

  .menu>a {
    display: block;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-bottom: 1px solid rgba(173, 238, 158, 0.399);
  }

  .nav-bar {
    padding: 0rem;
    display: none;
  }

  .nav-bar.display {
    display: block;
  }

  .nav-bar>a {
    display: block;
    padding: 1rem;
    margin: 0px;
    border-bottom: 1px solid rgba(173, 238, 158, 0.399);
  }

  .price-tag {
    flex-direction: column;
  }

  .price-tag .btn-purchase {
    margin-left: 0rem;
  }

  .btn-delete {
    margin: 0.5rem 0rem 0.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .product {
    flex-direction: column;
  }

  .price-tag {
    flex-direction: row;
  }


  .product-details {
    width: 100%;
  }

  .product-details>div {
    text-align: center;
    width: 80%;
  }
}

@media only screen and (max-width: 430px) {
  .product-image {
    width: 80vw;
    height: 80vw;
  }

  .price-tag {
    flex-direction: column;
  }

  .product h1 {
    font-size: 1.3rem;
  }

  .price-tag p {
    font-size: 1.2rem;
  }

  .product-details {
    width: 100%;
  }

  .product-details>div {
    text-align: center;
    width: 80%;
  }
}

@media only screen and (max-width: 430px) {

  .product h1 {
    font-size: 1rem;
  }

  .price-tag p {
    font-size: 1rem;
  }

  .btn-purchase {
    height: 1.5rem;
    font-size: 1rem;
    width: 10rem;
  }
}